.chat-window {
  width: 950px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 60%;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background: #dcf8c6;
}

.received {
  align-self: flex-start;
  background: #f1f0f0;
}
